/* Variable*/
:root {
  --color_01: #181818;
  --color_02: #fd6e0a;
  --color_03: #ffffff;
  --color_04: #fff8f3;
  --color_05: #474747;
  --color_06: #757575;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

/* common style */
.common-btn {
  height: 40px;
  width: 140px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  & a {
    text-decoration: none;
  }
}

.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}


/* header related style */
.header {
  background: var(--color_04);
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* nav related style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

#nav-title {
  color: var(--color_01);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#r {
  color: var(--color_02);
}

#nav-anchor {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: var(--font_01);
  font-size: 15px;
  font-weight: 600;
  & a {
    text-decoration: none;
    color: var(--color_01);
  }
  & li {
    margin-right: 50px;
    padding: 5px;
  }
}
/* banner related style */

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner-content {
  max-width: 700px;
}

#banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}

#banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

#hire-btn {
  background-color: var(--color_02);
  border: none;
  & a {
    color: var(--color_03);
  }
}
#download-btn {
  background-color: var(--color_02);
  border: none;
  & a {
    color: var(--color_03);
  }
}

#contact-btn {
  background: none;
  border-color: var(--color_02);
  & a {
    color: var(--color_02);
  }
}

#profile-pic {
  width: 500px;
  height: 600px;
}

/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* ABOUT section styles */
.about {
  padding: 156px;
  border-radius: 10px;
  background: var(--color_04);
  margin: 130px 0;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.info {
  text-align: center;
}

.info-title {
  margin-bottom: 0;
  color: var(--color_06);
}

.info-description {
  margin-top: 5px;
  color: var(--color_05);
}